<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sweibo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18FBC9491BF5CBB40035A534</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18FBC95D1BF5CBB40035A534</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18FBC9681BF5CBB50035A534</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
